h1 {
  color: #6d6d6d;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
sub {
  color: #6d6d6d;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}


body {
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

button {
  background: none;
  border: none;
  border-top: 1px solid #f3f3f3;
  padding: 10px;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
}

/* Flexbox */
.flex {
  display: flex;
}
.flex-grow {
  display: flex;
  flex-grow: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.comment-container {
  background: white;
  border: 1px solid gainsboro;
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #d4d4d4;
}

.comment-body{
  display: flex;
  flex-grow: 4;
  flex-direction: column;
}

.like-container {
  justify-content: center;
  border-left: 1px solid #f3f3f3;
  padding: 10px;
  width: 35px;
}

.like-container:hover {
  cursor: pointer;
}

.sort-container p {
  padding: 0;
  margin: 0;
}

.sort-container button {
  padding: 0 10px;
  margin: 0;
}

.sort-container button:last-of-type {
  border-left: 1px solid gainsboro
}
